---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import "../../styles/global.css"

const { ansatt } = Astro.props;
const imagesPath = "./bilder/"
const images = import.meta.glob("./bilder/*.jpg");

const getRandomIntBetween = (max: number) => Math.floor(Math.random() * max);

const getImageSrc = (name: string): Promise<{default: ImageMetadata}> => {
    if (images.hasOwnProperty(imagesPath + name + ".jpg")){
        return images[imagesPath + name + ".jpg"]() as Promise<{default: ImageMetadata}>;
    }

    // Remove these when images are added.
    let defaultNumber = getRandomIntBetween(4);
    let imagePath = imagesPath + "Default" + defaultNumber + ".jpg";
    return images[imagePath]() as Promise<{default: ImageMetadata}>;
}
---

<style>
    .employee-card { 
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .employee-image {
        width: 280px;
        height: 280px;
        object-fit: cover;
    }
    .name {
        font-weight: bold;
    }
    .employee-position { }
    .funfact { }
</style>

<div class="employee-card ">
    <Image class="employee-image" src={getImageSrc(ansatt.navn)} alt={ansatt.navn} />
    <span class="name">{ansatt.navn}</span>
    <span class="employee-position">{ansatt.stilling}</span>
    {ansatt.funfact && <span class="funfact">{ansatt.funfact}</span>}
</div>