---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import "../../styles/global.css"

const { ansatt } = Astro.props;
const imagesPath = "./bilder/"
const images = import.meta.glob<ImageMetadata>("./bilder/*.jpg", { eager: true, import: 'default' });
const defaultImages = import.meta.glob<ImageMetadata>("./bilder/*.svg", { eager: true, import: 'default' });

const DEFAULT_IMAGE_COUNT = 9;

const getDefaultIndex = (name: string): number =>
    name.split('').reduce((acc, c) => acc + c.charCodeAt(0), 0) % DEFAULT_IMAGE_COUNT;

const getImageSrc = (name: string): ImageMetadata => {
    //if employee has a real picture with jpg-format, use it
    if (images.hasOwnProperty(imagesPath + name + ".jpg")){
        return images[imagesPath + name + ".jpg"];
    }
    //if employee has a preferred default picture with svg-format, use it
    if (defaultImages.hasOwnProperty(imagesPath + name + ".svg")){
        return defaultImages[imagesPath + name + ".svg"];
    }

    // if no preferred default picture is found, use a deterministic default picture
    return defaultImages[imagesPath + "Default" + getDefaultIndex(name) + ".svg"];
}
---

<style>
    .employee-card {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 8px;
    }
    .employee-picture {
        object-fit: contain;
    }
    .name {
        font-weight: bold;
    }
    .employee-position { }
    .funfact { }
</style>

<div class="employee-card ">
    <Image class="employee-picture" src={getImageSrc(ansatt.navn)} alt={ansatt.navn} />
    <span class="name">{ansatt.navn}</span>
    <span class="employee-position">{ansatt.stilling}</span>
    {ansatt.funfact && <span class="funfact">{ansatt.funfact}</span>}
</div>
