---
import { COLOR_CLAVE_GREEN, COLOR_CLAVE_PEACH } from '../colors.js';
import Container from '../components/layout/Container.astro';
import Layout from '../components/layout/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import JoinSection from '../components/layout/JoinSection.astro';
import Map from '../components/Map';
import ContactForm from '../components/ContactForm.astro';
import BaseLayout from '../components/layout/BaseLayout.astro';
---
<BaseLayout title="Kontakt oss | clave" description="Trenger du hjelp til noe, ønsker å vite mer om hvordan det er å jobbe hos oss eller rett og slett bare er litt nysgjerrig?">
  <Container backgroundColor={COLOR_CLAVE_GREEN} textColor={COLOR_CLAVE_PEACH}>
    <main>
      <Header useSkinColoredHamburgerMenu={true} uri="/kontakt-oss" />
      <Layout backgroundColor={COLOR_CLAVE_GREEN} textColor={COLOR_CLAVE_PEACH}>
        <div class="title-wrapper">
          <h1>Kontakt oss</h1>
        </div>
      </Layout>
      <Layout backgroundColor={COLOR_CLAVE_GREEN} textColor={COLOR_CLAVE_PEACH}>
        <div class="contact-info">
          <div class="contact-card">
            <h3>Terje</h3>
            <p>
              Aasgaard | CEO <br />
              +47 975 37 841 <br />
              terje.aasgaard@clave.no
            </p>
          </div>
          <div class="contact-card">
            <h3>Karine</h3>
            <p>
              Småstuen | COO <br />
              +47 913 23 235 <br />
              karine.smastuen@clave.no
            </p>
          </div>
          <div class="contact-card">
            <h3>Inga</h3>
            <p>
              Godø | CCO <br />
              +47 401 05 730 <br />
              inga.godo@clave.no
            </p>
          </div>
        </div>
      </Layout>
      <Layout backgroundColor={COLOR_CLAVE_GREEN} textColor={COLOR_CLAVE_PEACH}>
        <div slot="aside">
          <span class="aside-content-low">
            <h3>Kom innom</h3>
            <address class="address">
              Kongens gate 12<br />
              0153 OSLO<br />
            </address>
          </span>
        </div>
        <div class="mapouter">
          <Map client:only="react" />
        </div>
      </Layout>
      <Layout backgroundColor={COLOR_CLAVE_GREEN} textColor={COLOR_CLAVE_PEACH}>
        <h2>Send oss gjerne en melding</h2>
        <p>
          Trenger du hjelp til noe, ønsker å vite mer om hvordan det er å
          jobbe hos oss eller rett og slett bare er litt nysgjerrig?
        </p>
        <ContactForm />
      </Layout>
      <JoinSection backgroundColor={COLOR_CLAVE_GREEN} textColor={COLOR_CLAVE_PEACH} />
    </main>
    <Footer backgroundColor={COLOR_CLAVE_GREEN} textColor={COLOR_CLAVE_PEACH} />
  </Container>
</BaseLayout>

<style>
  .title-wrapper {
    background-color: var(--clave-green);
    padding-top: 4.75rem;
  }

  @media screen and (min-width: 720px) {
    .title-wrapper {
      padding-top: var(--desktop-padding);
    }
  }

  .contact-info {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  @media screen and (min-width: 720px) {
    .contact-info {
      gap: 1.5rem;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 720px) {
    .contact-card {
      flex: 1 1;
      padding: 1rem 0 0;
    }
  }

  .aside-content-low {
    display: inline-block;
    align-self: flex-end;
  }

  .address {
    font-style: normal;
    font-size: 1.5rem;
  }

</style>
