---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import Container from './layout/Container.astro';
import ContentColumn from './layout/ContentColumn.astro';
import Ingress from './Ingress.astro';
import { MOBILE_PADDING } from '../layouts';
import { COLOR_CLAVE_PEACH, COLOR_CLAVE_GREEN } from '../colors.js';
import Layout from './layout/Layout.astro';
import ContainerContent from './layout/ContainerContent.astro';

interface Props {
  title: string;
  ingress?: string;
  image: ImageMetadata;
  imageWidth?: number;
  imageHeight?: number;
  imageAlt?: string;
  backgroundColor?: string;
  textColor?: string;
}

const {
  title,
  ingress,
  image,
  imageWidth,
  imageHeight,
  imageAlt = "",
  backgroundColor = COLOR_CLAVE_PEACH,
  textColor = COLOR_CLAVE_GREEN,
} = Astro.props;
---
<Container backgroundColor={backgroundColor} textColor={textColor}>
  <div class="page-header-content-wrapper">

  <ContainerContent>
    <ContentColumn style="--column-padding-bottom: 2rem">
      <div class="page-header-content">
        <h1 class="page-header-title">{title}</h1>
        {ingress && <Ingress>{ingress}</Ingress>}
      </div>
    </ContentColumn>
    <Image
    class="page-header-image"
    src={image}
    width={imageWidth}
    height={imageHeight}
    alt={imageAlt}
    />
  </ContainerContent>
  </div>
</Container>

<style define:vars={{mobilePadding: MOBILE_PADDING}}>
  .page-header-content-wrapper {
    padding: 0 0 0 var(--mobilePadding);
  }
  @media (min-width: 720px) {
    .page-header-content-wrapper {
      padding: 0;
    }
  }

  .page-header-title {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 720px) {
    .page-header-title {
      margin-bottom: 4rem;
    }
  }

  .page-header-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }

  @media (min-width: 720px) {
    .page-header-image {
      width: 80%;
      margin-left: auto;
    }
  }
</style>
