---
import PageHeaderTitle from "./PageHeaderTitle.astro";
import Ingress from "./Ingress.astro";
import ContentColumn from "./ContentColumn.astro";
import PageHeaderImage from "./PageHeaderImage.astro";

interface Props {
    colorSchema;
    title;
    ingress;
    imagePath;
}

const { colorSchema, title, ingress, imagePath } = Astro.props;

const colorSchemaClassName = `color-schema-${colorSchema}`;

---
<div class={colorSchemaClassName}>
    <div class="page-header-wrapper">
        <ContentColumn class="content-column">
            <PageHeaderTitle>{title}</PageHeaderTitle>
            <Ingress>{ingress}</Ingress>
        </ContentColumn>
        <PageHeaderImage imagePath={imagePath}></PageHeaderImage>
    </div>
</div>
<style>
    .content-column {
        padding-bottom: 2rem;
    }
    .page-header-wrapper {
        margin: 0 auto;
        max-width: 120rem;
    }
    .color-schema-1 {
        background-color: #005550;
        color: #FFE6CD;;
    }
    .color-schema-2 {
        background-color: #FFD678;
        color: #002850;;
    }
</style>
